html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: darkslategray;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 1rem;
}
#sortable li i {
    font-size: 1rem;
    border-radius: 1rem;
}

#sortable li span { position: absolute; margin-left: -1.3em; }

form {
    border-bottom: 5px solid;
    margin-bottom: 1rem;
}