:root {
    --heading:#094a57b2;
    --results:#84c4c9c0;
    --pageBackground:#e1ddcb;
}
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 100%;
}

body {
    /* Set body font and text size */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
    background-color: var(--pageBackground)
}


header {
    background-image: linear-gradient(#121438,var(--heading), #130a25),
    url("https://pilot67.github.io/06-unique-weather-forecast/assets/css/lightning-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-header {
        color: var(--pageBackground);
        text-shadow: 2px 2px 6px rgb(160, 196, 196);
        box-shadow: 0px 0px 5px 1px darkslategray;
        padding-top: 3rem;
        padding-bottom: 3rem;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 1rem;
    cursor:pointer;
    color: var(--heading);
}
#sortable li i {
    font-size: 1rem;
    border-radius: 1rem;
}

#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}
#sortable li:hover {
    transform: translateX(-1px) translateY(-1px);
}

form {
    border-bottom: 5px solid;
    margin-bottom: 1rem;
}

#todaysWeather {
    box-shadow: 0px 0px 8px 4px darkslategray;
    background-color: var(--results);
    border-radius: .5rem;

}

#forecastWrapper div {
    box-shadow: 0 0 4px 1px darkslategray;
    background-color:var(--results);
    border-radius: .5rem;
}
.loader {
    margin: 0 auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--heading);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }